Repository SaptarshiSarkar12/Drifty, changes with the labels that .github/labeler.yml gives for each.
All labels: Website 🌐, App 💻, Workflows, documentation 📝, maven 📦️, npm 📦️, docker 🐋

fix: Removed open rewrite's CodeCleanup recipe as it is causing build issues
  pom.xml
Labels: maven 📦️

fix: Made the required changes in the Dockerfiles for the conversion of the whole project into a multi-modular application
  .dockerignore
  .github/linters/.jscpd.json
  Docker/dev/CLI/Dockerfile
  Docker/dev/GUI/Dockerfile
  Docker/macOS Docker Build Instructions.md
Labels: documentation 📝, docker 🐋

fix(CI): Fixed all build and linter CI issues
  .github/linters/sun_checks.xml
  .github/workflows/build.yml
  .github/workflows/docker-publish.yml
  .idea/inspectionProfiles/Project_Default.xml
  CLI/src/main/java/cli_init/Environment.java
  CLI/src/main/java/cli_utils/ScannerFactory.java
  CLI/src/main/java/main/Drifty_CLI.java
  CLI/src/main/resources/META-INF/native-image/jni-config.json
  CLI/src/main/resources/META-INF/native-image/predefined-classes-config.json
  CLI/src/main/resources/META-INF/native-image/proxy-config.json
  CLI/src/main/resources/META-INF/native-image/reflect-config.json
  CLI/src/main/resources/META-INF/native-image/resource-config.json
  CLI/src/main/resources/META-INF/native-image/serialization-config.json
  Core/src/main/java/utils/DownloadFolderLocator.java
  Core/src/main/java/utils/Utility.java
  GUI/src/main/java/gui_init/Environment.java
  GUI/src/main/java/ui/UIController.java
Labels: App 💻, Workflows

fix(CI): Fixed linter and formatter issues
  .github/linters/sun_checks.xml
  .github/workflows/formatter.yml
Labels: Workflows

feat: Added icons for the Drifty GUI app made from modular Drifty
  .github/workflows/build.yml
  GUI/src/darwin/Info.plist
  GUI/src/darwin/assets/AppIcon.icns
  GUI/src/darwin/assets/AppIcon.iconset/icon_128@1x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_128@2x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_16@1x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_16@2x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_256@1x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_256@2x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_32@1x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_32@2x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_512@1x.png
  GUI/src/darwin/assets/AppIcon.iconset/icon_512@2x.png
  GUI/src/darwin/assets/Drifty-background-darkAqua.png
  GUI/src/darwin/assets/Drifty-background.png
  GUI/src/windows/assets/icon.ico
Labels: App 💻, Workflows

fix: Fixed build errors
  GUI/src/darwin/Info.plist
Labels: App 💻

fix: Added the fixes asked to be implemented, by Coderabbitai
  CLI/src/main/java/backend/FileDownloader.java
  CLI/src/main/java/backend/ProgressBarThread.java
  CLI/src/main/java/main/Drifty_CLI.java
  Core/src/main/java/init/Environment.java
  Core/src/main/java/support/Constants.java
  Core/src/main/java/utils/Utility.java
  GUI/src/main/java/backend/FileDownloader.java
  GUI/src/main/java/gui_support/SplitDownloadMetrics.java
  GUI/src/main/java/ui/ConfirmationDialog.java
  GUI/src/main/java/ui/GetConfirmationDialogResponse.java
  GUI/src/main/java/ui/GetFilename.java
  pom.xml
Labels: App 💻, maven 📦️

.github/labeler.yml:

"Website 🌐":
- changed-files:
  - any-glob-to-any-file: ['Website/**']

"App 💻":
- changed-files:
  - any-glob-to-any-file: ['CLI/src/**', 'GUI/src/**', 'Core/src/*']

"Workflows":
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/**']

"dependencies 📦️":
- changed-files:
  - any-glob-to-any-file: ['Website/package.json', 'Website/package-lock.json', 'pom.xml', '.github/workflows/**', 'CLI/pom.xml', 'GUI/pom.xml', 'Core/pom.xml']
- head-branch: ['^dependabot']

"documentation 📝":
- changed-files:
  - any-glob-to-any-file: ['**/*.md']

"maven 📦️":
- changed-files:
  - any-glob-to-any-file: ['pom.xml', 'CLI/pom.xml', 'GUI/pom.xml', 'Core/pom.xml']

"npm 📦️":
- changed-files:
  - any-glob-to-any-file: ['Website/package.json', 'Website/package-lock.json']

"docker 🐋":
- changed-files:
  - any-glob-to-any-file: ['Docker/**']
