Repository SaptarshiSarkar12/Drifty, changes with the labels that .github/labeler.yml gives for each.
All labels: Website 🌐, App 💻, Workflows, documentation 📝, maven 📦️, npm 📦️, docker 🐋

[fix]: linters on line 17 of quickstart.md
  Website/app/docs/Quickstart.md
Labels: Website 🌐, documentation 📝

[Responsiveness]: Made all the changes as per the requirements.
  Website/app/Contribute.js
  Website/app/Features.js
  Website/tailwind.config.js
Labels: Website 🌐

fix: Added responsiveness to the website for mobile (#379)
  Website/app/Contribute.js
  Website/app/Features.js
  Website/tailwind.config.js
Labels: Website 🌐

fix: Added responsiveness to the website for mobile (#379)
  Website/app/Contribute.js
  Website/app/Features.js
  Website/tailwind.config.js
Labels: Website 🌐

fix: Fixed a null error and removed an unused variable in Drifty GUI
  src/main/java/GUI/Forms/Main.java
Labels: App 💻

fix: Fixed a null error and removed an unused variable in Drifty GUI
  src/main/java/GUI/Forms/Main.java
Labels: App 💻

fix: Added a command to update system packages before installing newer packages
  .github/workflows/build.yml
Labels: Workflows

fix: Added a command to update system packages before newer packages are installed
  .github/workflows/docker-publish.yml
Labels: Workflows

.github/labeler.yml:

"Website 🌐":
- changed-files:
  - any-glob-to-any-file: ['Website/**']

"App 💻":
- changed-files:
  - any-glob-to-any-file: ['src/**']

"Workflows":
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/**']

"dependencies 📦️":
- changed-files:
  - any-glob-to-any-file: ['Website/package.json', 'Website/package-lock.json', 'pom.xml', '.github/workflows/**']
- head-branch: ['^dependabot']

"documentation 📝":
- changed-files:
  - any-glob-to-any-file: ['**/*.md']

"maven 📦️":
- changed-files:
  - any-glob-to-any-file: ['pom.xml']

"npm 📦️":
- changed-files:
  - any-glob-to-any-file: ['Website/package.json', 'Website/package-lock.json']

"docker 🐋":
- changed-files:
  - any-glob-to-any-file: ['Docker/**']
