Repository SaptarshiSarkar12/Drifty, pull requests merged in 2023-12, with the labels that each got.

#379 fix: Added responsiveness to the website for mobile
  Website/app/Contribute.js
  Website/app/Features.js
  Website/tailwind.config.js
Labels: bug 🐛, Website 🌐

#400 feat: Added Splash screen to Drifty GUI
  Core/src/main/java/init/Environment.java
  Core/src/main/java/preferences/Clear.java
  Core/src/main/java/preferences/Get.java
  Core/src/main/java/preferences/Labels.java
  Core/src/main/java/preferences/Set.java
  Core/src/main/resources/yt-dlp
  Docker/macOS Docker Build Instructions.md
  GUI/pom.xml
  GUI/src/main/java/main/Drifty_GUI.java
  GUI/src/main/java/ui/Splash.java
  GUI/src/main/resources/META-INF/native-image/reflect-config.json
  README.md
Labels: documentation 📝, feature ✨, App 💻, dependencies 📦️, maven 📦️, docker 🐋

#402 Implement Environment Variables for Maven and GraalVM Versions in Dockerfile
  Docker/dev/commons/base/Dockerfile
  docker-compose.yaml
Labels: feature ✨, docker 🐋
