Repository SaptarshiSarkar12/Drifty, pull requests merged in 2023-10, with the labels that each got.

#292 Hero section improvements
  Website/app/Header.js
  Website/app/MainSection.js
  Website/app/contact/page.js
  Website/app/download/page.js
Labels: enhancement, Website

#298 fix: GitHub stats alignment in About webpage has been fixed
  Website/app/about/page.js
Labels: bug, Website

#295 Added About window for Drifty GUI
  .idea/misc.xml
  src/main/java/GUI/Forms/Main.java
  src/main/resources/META-INF/native-image/resource-config.json
Labels: enhancement, App

#294 [FEATURE] Add Docker image for Drifty Application
  .dockerignore
  .github/labeler.yml
  .github/release.yml
  .github/workflows/build.yml
  .github/workflows/docker-publish.yml
  .idea/vcs.xml
  Docker/base.Dockerfile
  Docker/cli.Dockerfile
  Docker/dev.cli.Dockerfile
  Docker/dev.gui.Dockerfile
  Docker/gui.Dockerfile
  Docker/runner.Dockerfile
  docker-compose.yaml
  pom.xml
Labels: enhancement, Workflows, dependencies, maven, docker

#304 fix: Decreasing the time delay in download button
  Website/app/Releases.js
  package-lock.json
Labels: bug 🐛, Website 🌐
