Repository SaptarshiSarkar12/Drifty, pull requests merged in 2024-08, with the labels that each got.

#378 docs: Added Markdown files for Documentation
  .github/linters/.markdown-lint.yml
  .idea/misc.xml
  Website/app/docs/Contributing.md
  Website/app/docs/Development/Architecture.md
  Website/app/docs/Development/Building-Executables.md
  Website/app/docs/Development/Quickstart.md
  Website/app/docs/Development/macOS-docker-build-instructions.md
  Website/app/docs/Faq.md
  Website/app/docs/Overview.md
  Website/app/docs/Quickstart.md
  Website/app/docs/Usage/drifty-cli/Overview.md
  Website/app/docs/Usage/drifty-cli/downloading-files.md
  Website/app/docs/Usage/drifty-gui/Overview.md
  Website/app/docs/Usage/drifty-gui/downloading-files.md
Labels: documentation 📝, feature ✨, Website 🌐

#594 feat: Added support for generating and distributing Drifty CLI and GUI compatible with MacOS on Intel processors
  .github/workflows/build.yml
  .github/workflows/dev-docker-build.yml
  .github/workflows/nextjs.yml
  CLI/pom.xml
  GUI/pom.xml
  Website/app/Releases.js
Labels: CI/CD 🔁, Website 🌐, dependencies 📦️, maven 📦️

#605 Fix: Missing Dark Mode for "Manage Directories" window
  GUI/src/main/java/ui/ConfirmationDialog.java
  GUI/src/main/java/ui/ManageFolders.java
  GUI/src/main/java/ui/Settings.java
  GUI/src/main/java/ui/Theme.java
  GUI/src/main/java/ui/UIController.java
  GUI/src/main/resources/CSS/ListView.css
  GUI/src/main/resources/META-INF/native-image/reflect-config.json
  GUI/src/main/resources/META-INF/native-image/resource-config.json
Labels: bug 🐛, App 💻
