Repository SaptarshiSarkar12/Drifty, pull requests merged in 2024-10, with the labels that each got.

#664 feat: Enhanced the Contact us Page
  Website/app/contact/page.js
Labels: feature ✨, Website 🌐

#671 Fix: Enhanced Filtering for Pre-releases
  Website/app/Releases.js
Labels: bug 🐛, Website 🌐

#672 Fix nav bar scrolling issue on mobile devices
  Website/app/Header.js
Labels: bug 🐛, Website 🌐

#674 Fix hydration error in Header.js
  Website/app/Header.js
Labels: bug 🐛, Website 🌐

#687 refactor: improve footer readability and organize social links
  Website/app/Footer.js
Labels: Website 🌐, maintenance
