Repository SaptarshiSarkar12/Drifty, pull requests merged in 2025-03, with the labels that each got.

#798 feat: Update download page for consistency across the website
  Website/app/MainSection.js
  Website/app/Releases.js
Labels: feature ✨, Website 🌐

#801 chore: Upgrade Java to Version 23 and fix Build Issues
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/formatter.yml
  .idea/misc.xml
  CLI/pom.xml
  Core/pom.xml
  GUI/pom.xml
  GUI/src/main/resources/META-INF/native-image/reachability-metadata.json
  GUI/src/main/resources/META-INF/native-image/resource-config.json
  docker-compose.yaml
  pom.xml
Labels: bug 🐛, CI/CD 🔁, App 💻, dependencies 📦️, maven 📦️

#820 Website migration to Vercel
  .github/workflows/nextjs.yml
  .github/workflows/static.yml
  Website/app/layout.tsx
  Website/package-lock.json
  Website/package.json
  website_redirection/index.html
Labels: CI/CD 🔁, Website 🌐, dependencies 📦️, npm 📦️, maintenance
