Repository SaptarshiSarkar12/Drifty, pull requests merged in 2025-07, with the labels that each got.

#932 Fixed broken Maven download link and removed redundant file
  Docker/dev/CLI/Dockerfile
  Docker/dev/GUI/Dockerfile
  Docker/dev/commons/base/Dockerfile
  Docker/macOS Docker Build Instructions.md
Labels: bug 🐛, documentation 📝, Website 🌐, docker 🐋

#956 Add legal-use disclaimer to README and website
  README.md
  Website/app/disclaimer/page.tsx
  Website/components/Footer.tsx
  Website/package-lock.json
  disclaimer.txt
Labels: documentation 📝, Website 🌐, dependencies 📦️, npm 📦️

#960 bug: handles null pointer exception in youtububeorinstagram method in…
  .github/workflows/linter.yml
  .idea/misc.xml
  GUI/src/main/java/backend/FileDownloader.java
Labels: bug 🐛, CI/CD 🔁, App 💻, dependencies 📦️
